<div ng-controller="GrantAccesUserController" class="span4 offset4">
<h3>Grant Card Access to  {{user_info.user_name}}</h13>
<form class="form-horizontal" ng-submit="submitCardAccess()">
    <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
    <div>
        <label>Selected User: </label>
         <input id="reciver_email" type="text" autocomplete="off" value="{{user_info.user_name}}" readonly/>
    </div><br />
    <div>
        <label>Amount: </label>
        <input id="amount" type="text" autocomplete="off" value="" ng-model="cardaccess.amount" />
    </div><br />
    <div>
        <label>Grant period in hours : </label>
        <input id="period" type="text" autocomplete="off" value="" ng-model="cardaccess.period" />
    </div><br />
    <div>
        <label>Choose Credit Card: </label>
    <select id="cc-exp-month"  ng-model="cardaccess.credit_id"  value="usercard.id" ng-options="usercard.card_name for usercard in userCards"></select>
    </div><br >
    <button id="accessgrant-proccess-btn" class="btn btn-primary"  type="submit">Grant Access</button>
</form>
