<div ng-controller="ReportingController">
    <h2>Reporting Expenditure for {{username}}</h2>

    <nvd3-pie-chart
        data="chartData"
        id="pieCharId"
        width="500"
        height="500"
        x="xFunction()"
        y="yFunction()"
        showLabels="true"
        pieLabelsOutside="true"
        showValues="true"
        labelType="key"
        tooltips="true"
        tooltipcontent="tooltipContent()"
    >
        <svg height="300"></svg>
    </nvd3-pie-chart>

<div ng-controller="ExampleCtrl">
    <nvd3-line-chart
        data="exampleData"
        id="exampleId"
        width="550"
        height="350"
        showXAxis="true"
        showYAxis="true">
            <svg></svg>
    </nvd3-line-chart>
</div>

</div>

